.mapBox {
  .mainIsland {
    width: 350px;
    flex-shrink: 0;
    position: relative;

    @media screen and (max-width: 991px) {
      display: none;
    }

    svg {
      width: 100%;
      a {
        display: block;
      }
      a:hover,
      .active,
      .clickActive,
      a:focus,
      a:focus-visible {
        outline: none;
        z-index: 9;
        .cls-1 {
          fill: darken(#ea9eae, 10);
        }
        .cls-2 {
          fill: darken(#e87e7d, 10);
        }
        .cls-3 {
          fill: darken(#e9c066, 10);
        }
        .cls-4 {
          fill: darken(#83a23f, 10);
        }
        .cls-5 {
          fill: darken(#f5af72, 10);
        }
        .cls-6 {
          fill: darken(#7f93ca, 10);
        }
        .cls-7 {
          fill: darken(#9fa9d5, 10);
        }
        .cls-8 {
          fill: darken(#71a2ce, 10);
        }
        .cls-9 {
          fill: darken(#7cb5b5, 10);
        }
        .cls-10 {
          fill: darken(#97bb4b, 10);
        }
        .cls-11 {
          fill: darken(#f0d273, 10);
        }
        .cls-12 {
          fill: darken(#93ccb6, 10);
        }
        .cls-13 {
          fill: darken(#e26d9f, 10);
        }
      }
      a:focus-visible {
        outline: solid 2px blue;
      }

      .cls-1,
      .cls-2,
      .cls-3,
      .cls-4,
      .cls-5,
      .cls-6,
      .cls-5,
      .cls-6,
      .cls-7,
      .cls-8,
      .cls-9,
      .cls-10,
      .cls-11,
      .cls-12,
      .cls-13 {
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
      }

      .cls-1 {
        fill: #ea9eae;
      }
      .cls-2 {
        fill: #e87e7d;
      }
      .cls-3 {
        fill: #e9c066;
      }
      .cls-4 {
        fill: #83a23f;
      }
      .cls-5 {
        fill: #f5af72;
      }
      .cls-6 {
        fill: #7f93ca;
      }
      .cls-7 {
        fill: #9fa9d5;
      }
      .cls-8 {
        fill: #71a2ce;
      }
      .cls-9 {
        fill: #7cb5b5;
      }
      .cls-10 {
        fill: #97bb4b;
      }
      .cls-11 {
        fill: #f0d273;
      }
      .cls-12 {
        fill: #93ccb6;
      }
      .cls-13 {
        fill: #e26d9f;
      }
    }
    .maptxt {
      font-size: 1em;
    }
  }
}

.mapList {
  margin-bottom: 2em;
  @media screen and (min-width: 992px) {
    display: none;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5em, auto));
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      flex: 1 1 25%;
      margin: 0.2em;
      padding: 0;
      text-align: center;
      a {
        display: block;
        color: #000;
        border-radius: 5px;
        &.cls-1 {
          background: #ea9eae;
          &:hover,
          &:focus {
            background: darken(#ea9eae, 10);
            color: #000;
          }
        }
        &.cls-2 {
          background: #e87e7d;
        }
        &.cls-3 {
          background: #e9c066;
        }
        &.cls-4 {
          background: #83a23f;
        }
        &.cls-5 {
          background: #f5af72;
        }
        &.cls-6 {
          background: #7f93ca;
        }
        &.cls-7 {
          background: #9fa9d5;
        }
        &.cls-8 {
          background: #71a2ce;
        }
        &.cls-9 {
          background: #7cb5b5;
        }
        &.cls-10 {
          background: #97bb4b;
        }
        &.cls-11 {
          background: #f0d273;
        }
        &.cls-12 {
          background: #93ccb6;
        }
        &.cls-13 {
          background: #e26d9f;
        }
        &.cls-14 {
          background: #aeaeae;
        }
      }
    }
  }
}
