.breadcrumb {
  // border-bottom: 1px solid #EEE;
  padding: 0.1em 0em 0.1em;
  font-size: 0.938em;
  margin: 1em auto 3em;
  ul {
    @include li-reset;
    position: relative;
    padding-left: 1.6em;
    &:before {
      content: '';
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      left: 0;
      top: 0;
      background: url(../images/icon_home.png) no-repeat left top;
      background-size: 100% auto;
    }
    li {
      display: inline-block;
      margin: 0px 0.1em 0.1em 0px;
      color: $primaryColor;
      &:before {
        @extend %slash;
      }
      &:first-child:before {
        content: '';
        display: inline-block;
        color: #666;
        margin-left: 0;
        padding: 0;
      }
    }
  }
  a {
    @include aSetting_nocolor;
  }
}
