.category {
  @extend %clearfix;
  text-align: left;
  margin: 1em 1.5%;

  ul {
    @include li-reset;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14em, auto));
    li {
      margin: 0.4em;
      display: block;
      //   float: left;
      flex: 1 1 40%;
    }
  }
  a {
    border: 1px solid #787878;
    padding: 0.54em 1em;
    display: block;
    color: #333;
    box-sizing: border-box;
    border-radius: 2em;
    text-align: center;
    font-weight: 500;
    font-size: 1.125em;
    &:hover,
    &:focus {
      color: #fff;
      background: darken($primaryColor, 0);
      border: 1px solid darken($primaryColor, 0);
      //   box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    }
    &.active {
      color: #fff;
      background: darken($primaryColor, 0);
      border: 1px solid darken($primaryColor, 0);
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
      //   @include gradient(darken($primaryColor, 0), darken($primaryColor, 15), vertical);
    }
    span {
      font-size: 0.813em;
      &:before {
        content: '(';
        display: inline-block;
      }
      &:after {
        content: ')';
        display: inline-block;
      }
    }
  }
}
