/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// more按鈕
.more {
  margin-bottom: 2em;
  text-align: center;
  a {
    display: inline-block;
    min-width: 10em;
    height: 2.8em;
    margin: 0.5em auto 0.5em;
    padding: 0 2.5em 0 1.5em;
    line-height: 2.8;
    color: $color-dark;
    border: 1px solid $color-dark;
    border-radius: 2em;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    &:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      background: url(../images/arrow2.svg) no-repeat right center;
      background-size: 1.3em auto;
      // border: 2px solid $color-dark;
      // transform: rotate(45deg);
      position: absolute;
      right: 1em;
      top: 0.6em;
      // border-left: none;
      // border-bottom: none;
      transition: 0.3s ease-out;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $primaryColor;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &:hover,
    &:focus,
    &.active {
      color: white;
      border: solid 1px $primaryColor;
      &:before {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
      &:after {
        right: 15px;
        background: url(../images/arrow2ov.svg) no-repeat right center;
        background-size: 1.3em auto;
      }
    }
  }
}

.opentoday {
  width: 7.5em;
  height: 7.5em;
  background: $primaryColor;
  color: #fff;
  position: absolute;
  bottom: 200px;
  right: 0;
  z-index: 2;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  .title {
    font-size: 1.25em;
    font-weight: bold;
    position: relative;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    &:before {
      content: '';
      width: 1.5em;
      height: 1px;
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  ul {
    @include li-reset;
    li {
      display: block;
      margin: 0;
    }
  }
  @include screen('tablet') {
    bottom: 180px;
  }
  @include screen('mobile') {
    width: 100px;
    height: 100px;
    padding: 0.5em;
    bottom: auto;
    top: 0;
    .title {
      font-size: 1em;
    }
    ul {
      font-size: 0.875em;
    }
  }
  @include screen('xs_mobile') {
    top: 0;
    bottom: auto;
  }
}

.newsBlock {
  position: relative;
  margin: 1.5em 0 8em;
  @include screen('tablet') {
    margin: 0 0 4em 0;
  }
  &:before {
    content: '';
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    width: 70%;
    height: 100%;
    @include screen('tablet') {
      display: none;
    }
  }
  &:after {
    content: '';
    background: url(../images/newsBlock_bg2.jpg) no-repeat right top;
    position: absolute;
    right: 0;
    top: 5em;
    width: 90%;
    height: 95%;
    z-index: -1;
    @include screen('tablet') {
      display: none;
    }
  }
}

.news {
  margin: 5em 0 2em;
  @include screen('tablet') {
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    margin: 1em 0 2em;
    padding: 3em 5% 1em;
    border-radius: 10px;
  }
  .list {
    @include screen('tablet') {
      margin: 0 5% 0 3%;
    }
    & > ul,
    ol {
      list-style-type: none;
      padding: 0;
      // border-top: 2px solid $primaryColor;
      & > li {
        padding: 0;
        // border-bottom: 1px solid #ddd;
        position: relative;
        display: flex;
        margin: 1em 0;
        @include screen('xs_mobile') {
          padding-bottom: 1em;
        }
        &:before {
          content: '';
          width: calc(100% - 10em);
          height: 1px;
          background: #d1d1d1;
          position: absolute;
          left: 11em;
          bottom: 0;
          @include screen('xs_mobile') {
            width: 100%;
            left: 0;
          }
        }

        // .tag {
        //   margin-left: 2em;
        // }
        & > a {
          padding-left: 0;
          position: relative;
          line-height: 1.45em;
          color: $color-word;
          display: flex;
          flex: 1 1 auto;
          align-items: center;
          font-size: 1.125rem;

          &:hover {
            color: $aHover;
          }
          @include screen('xs_mobile') {
            display: block;
          }
        }
        span.dept {
          display: block;
          font-size: 0.938em;
          line-height: 1.125em;
          font-weight: bold;
          flex: 0 0 4em;
          height: 4em;
          background: $color-green;
          padding: 1em;
          border-radius: 50%;
          color: #fff;
          margin-right: 1em;
          &.color_green {
            background: $color-green;
          }
          &.color_blue {
            background: $color-blue;
          }
          &.color_pink {
            background: $primaryColor;
          }
          @include screen('mobile') {
            display: block;
          }
        }
        time {
          color: $primaryColor;
          font-size: 0.938em;
          flex: 0 0 6em;
          text-align: center;
          margin-right: 1em;
          &:before {
            content: '';
            width: 6em;
            height: 3px;
            background: $primaryColor;
            position: absolute;
            left: 0;
            bottom: -1px;
          }
          @include screen('xs_mobile') {
            display: block;
            text-align: left;
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
  .more {
    text-align: right;
    margin: 1.5em 0 2em;
    a {
      display: inline-block;
    }
  }
}

.service {
  position: relative;
  z-index: 9;
  width: 80%;
  max-width: 280px;
  float: right;
  @include screen('tablet') {
    float: none;
    width: 100%;
    max-width: 100%;
    &:after {
      content: '';
      background: url(../images/newsBlock_bg2.jpg) no-repeat right top;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 10px;
    }
  }
  .titleBox {
    margin: 4.5em 0 1em 10%;

    @include screen('mobile') {
      margin: 2em 0 1em 0;
    }
  }
  ul {
    margin: 0 3% 0 0;
    padding: 10em 0 0 0;
    list-style: none;
    @include screen('notebook') {
      margin: 0;
    }
    @include screen('tablet') {
      margin: 0;
      padding: 2em;
    }

    li {
      margin: 1em 0;
      padding: 0;
      position: relative;
      @include screen('tablet') {
        margin: 1em 0 0 1em;
      }
      @include screen('mobile') {
        margin: 1em 0;
      }
      img {
        width: 32px;
        vertical-align: middle;
        margin-right: 1em;
      }
      a {
        padding: 0.8em 1em 0.8em 1.5em;
        display: block;
        background: rgba(255, 255, 255, 1);
        border-radius: 2em;
        line-height: 1.5em;
        font-size: 1.25em;
        font-weight: 500;
        color: $primaryColor;
        &:hover,
        &:focus-visible {
          color: darken($primaryColor, 10);
        }
        &:after {
          content: '';
          width: 1.5rem;
          height: 1.5rem;
          background: url(../images/arrow3.svg) no-repeat right center;
          background-size: 1.5rem auto;
          position: absolute;
          right: 1em;
          top: 1em;
          transition: 0.3s ease-out;
        }
      }
      .txt {
        vertical-align: middle;
      }
    }
  }
  .more {
    margin-right: 1em;
    @include screen('tablet') {
      margin-right: 0;
    }
  }
}

.literatureBlock {
  margin: 3em 0 4em;
}
.literature {
  margin-top: 2em;
  @include screen('mobile') {
    margin-top: 0;
  }
  a {
    display: flex;
    align-items: flex-start;
    padding: 1em;
    &:focus-visible {
      box-shadow: $aFocus 0 0 0 2px inset;
      outline: none;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  .img-container {
    @include aspect-ratio(3.9, 5); //比例
    flex: 0 0 30%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    img {
      transition: 0.3s;
    }
  }
  .caption {
    padding: 0 2em 4em;
    height: 100%;
    flex: 1 1 70%;
    position: relative;
    p {
      line-height: 2em;
    }
    @include screen('xs_mobile') {
      padding: 0 0 2em 2em;
    }
  }
  .more {
    margin: 1em 0;
    float: right;
    display: block;
    width: 10em;
    height: 2.8em;
    padding-right: 1em;
    line-height: 2.8;
    color: $color-dark;
    border: 1px solid $color-dark;
    border-radius: 2em;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    &:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      background: url(../images/arrow2.svg) no-repeat right center;
      background-size: 1.3em auto;
      // border: 2px solid $color-dark;
      // transform: rotate(45deg);
      position: absolute;
      right: 1em;
      top: 0.6em;
      // border-left: none;
      // border-bottom: none;
      transition: 0.3s ease-out;
    }
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $primaryColor;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &:hover,
    &:focus,
    &.active {
      color: white;
      border: solid 1px $primaryColor;
      &:before {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
      &:after {
        right: 15px;
        background: url(../images/arrow2ov.svg) no-repeat right center;
        background-size: 1.3em auto;
      }
    }
  }
}

.detail {
  float: right;
  margin-top: -4em;

  a {
    display: block;
    width: 10em;
    height: 2.8em;
    margin: 0.5em auto 0.5em;
    padding-right: 1em;
    line-height: 2.8;
    color: $color-dark;
    // text-align: center;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    text-decoration: none !important;
    color: $color-word !important;
    &:after {
      content: '';
      width: 1.5em;
      height: 1.5em;
      background: url(../images/arrow2.svg) no-repeat right center;
      background-size: 1.3em auto;
      // border: 2px solid $color-dark;
      // transform: rotate(45deg);
      position: absolute;
      right: 1em;
      top: 0.6em;
      // border-left: none;
      // border-bottom: none;
      transition: 0.3s ease-out;
    }

    &:hover,
    &:focus,
    &.active {
      color: $aHover !important;
    }
  }
}

.modeBlock {
  position: relative;
  margin: 1.5em 0 8em;
  @include screen('tablet') {
    margin: 0 0 4em 0;
  }
  &:before {
    content: '';
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    left: -5.5%;
    // left: 0;
    width: 76%;
    height: 100%;
    @include screen('tablet') {
      display: none;
    }
  }
  &:after {
    content: '';
    background: url(../images/newsBlock_bg3.jpg) no-repeat right top;
    position: absolute;
    right: -5.5%;
    // right: 0;
    top: 5em;
    width: 90%;
    height: 95%;
    z-index: -1;
    @include screen('tablet') {
      display: none;
    }
  }
  // .container {
  //   max-width: 1600px;
  //   padding: 0;
  // }
  h2 {
    &.title {
      margin-bottom: 1.5em;
    }
  }
  h3 {
    color: $primaryColor;
    position: relative;
    padding-left: 0.6em;
    margin: 0.5em 0 0.5em 2rem;
    &:before {
      content: '';
      width: 3px;
      height: 1em;
      background: $primaryColor;
      position: absolute;
      left: 0;
      top: 0.15em;
    }
  }
  p {
    line-height: 1.8em;
    margin: 0.5em 1em 2em 2em;
  }
  .mode {
    margin: 5em 0 4em 0;
    @include screen('tablet') {
      margin: 0 0 4em 0;
    }
  }
}
.awardBlock {
  margin: 0 0 3em;
  .topPic2 {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    margin: 2em 3%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.newsBlock2 {
  margin: 2em 0 3em;
}

// 範例：
.demosection {
  [class^='col'] {
    border: 2px solid #fff;
    background: #dedede;
  }
}
